<a href="https://colab.research.google.com/github/gongback39/2024_2_Data_analysis/blob/main/1%EB%B6%84%EB%B0%98/%EC%9D%B4%EC%A7%80%EB%AF%BC/2%EC%A3%BC%EC%B0%A8_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 기술 통계 (요약 통계)
자료의 내용을 압축하여 설명하는 방법

## 탐색적 데이터 분석
대표적인 통계량 :
* 평균
* 표준편차

In [15]:
import gdown
gdown.download('https://bit.ly/3GisL6J', 'ns_book6.csv', quiet=False)

Downloading...
From: https://bit.ly/3GisL6J
To: /content/ns_book6.csv
100%|██████████| 55.5M/55.5M [00:00<00:00, 61.5MB/s]

'ns_book6.csv'

In [16]:
import pandas as pd
ns_book6 = pd.read_csv('ns_book6.csv', low_memory=False)
ns_book6.head()

,번호,도서명,저자,출판사,발행년도,ISBN,세트 ISBN,부가기호,권,주제분류번호,도서권수,대출건수,등록일자
0,1,인공지능과 흙,김동훈 지음,민음사,2021,9788937444319,NaN,NaN,NaN,NaN,1,0.0,2021-03-19
1,2,가짜 행복 권하는 사회,김태형 지음,갈매나무,2021,9791190123969,NaN,NaN,NaN,NaN,1,0.0,2021-03-19
2,3,나도 한 문장 잘 쓰면 바랄 게 없겠네,김선영 지음,블랙피쉬,2021,9788968332982,NaN,NaN,NaN,NaN,1,0.0,2021-03-19
3,4,예루살렘 해변,"이도 게펜 지음, 임재희 옮김",문학세계사,2021,9788970759906,NaN,NaN,NaN,NaN,1,0.0,2021-03-19
4,5,김성곤의 중국한시기행 : 장강·황하 편,김성곤 지음,김영사,2021,9788934990833,NaN,NaN,NaN,NaN,1,0.0,2021-03-19

## describe() 메서드

In [17]:
ns_book6.describe()

                  번호           도서권수           대출건수
count  384591.000000  384591.000000  384591.000000
mean   201888.021766       1.135032      11.441102
std    115687.534734       0.481795      19.200739
min         1.000000       0.000000       0.000000
25%    102713.500000       1.000000       2.000000
50%    203094.000000       1.000000       6.000000
75%    301498.500000       1.000000      14.000000
max    401681.000000      40.000000    1765.000000

* count : 누락된 값을 제외한 데이터 개수를 나타냄
* mean : 평균을 구한다.
* std : 표준편차를 구한다.
* min : 최솟값을 구한다.
* 50% : 중앙값을 구한다.
* 25%, 75% : 순서대로 늘어 놓았을 때 25%지점과 75% 지점에 놓인 값
* max : 최댓값을 구한다.

In [18]:
sum(ns_book6['도서권수'] == 0)

3250

In [19]:
ns_book7 = ns_book6[ns_book6['도서권수']>0]

### percentiles 매개변수
원하는 위치를 지정

In [20]:
ns_book7.describe(percentiles = [0.3, 0.6, 0.9])

                  번호           도서권수           대출건수
count  381341.000000  381341.000000  381341.000000
mean   203141.980553       1.144705      11.529442
std    115144.959046       0.472262      19.238260
min         1.000000       1.000000       0.000000
30%    125430.000000       1.000000       2.000000
50%    204450.000000       1.000000       6.000000
60%    243451.000000       1.000000       8.000000
90%    361575.000000       2.000000      28.000000
max    401681.000000      40.000000    1765.000000

### include 매개변수
수치가 아닌 다른 데이터 타입에 대한 통계

---

object에 대한 통계
 * count : 데이터 개수
 * unique : 고유한 값의 개수
 * top : 가장 많이 등장하는 값
 * freq : top횅에 등장하는 항목의 빈도수

In [21]:
ns_book7.describe(include='object')

,도서명,저자,출판사,발행년도,ISBN,세트 ISBN,부가기호,권,주제분류번호,등록일자
count,380938,381145,376753,381329,381341,55895,310046,63076,364263,381341
unique,339804,251468,21884,396,354939,14879,17,844,12538,4566
top,승정원일기,세종대왕기념사업회 [편],문학동네,2012,9788937430299,9788937460005,0,1,813.6,1970-01-01
freq,268,303,4410,18768,206,702,158992,13491,14913,28834

### mean() 매서드

In [24]:
ns_book7['대출건수'].mean()

11.52944215282385

### median() 메서드

In [25]:
ns_book7['대출건수'].median()

6.0

### 중복값 제거하고 중앙값 구하기

In [26]:
ns_book7['대출건수'].drop_duplicates().median()

183.0

### min(), max() 메서드

In [28]:
ns_book7['대출건수'].max()

1765.0

In [29]:
ns_book7['대출건수'].min()

0.0

### 분위수 구하기

#### quantile()

In [31]:
ns_book7['대출건수'].quantile(0.25)

2.0

In [32]:
ns_book7['대출건수'].quantile([0.25, 0.5, 0.75])

0.25     2.0
0.50     6.0
0.75    14.0
Name: 대출건수, dtype: float64

#### interpolation 매개변수
분위수를 구하는 보간법을 지정
interpolation 매개변수는 **기본값 linear** 외에도 여러 가지 다른 보간 방식을 제공합니다.

**midpoint**는 분위수에 상관없이 무조
건 두 수 사이의 중앙값을 사용합니다.

**nearest**는 두 수 중에서 가까운 값을 선택합니다 이 경우는。9가 1.0에 더 가깝기 때문에 5가 됩니다.

In [38]:
pd.Series([1,2,3,4,5]).quantile(0.9, interpolation="midpoint")

4.5

In [39]:
pd.Series([1,2,3,4,5]).quantile(0.9, interpolation='nearest')

5

### 백분위 구하기

In [40]:
borrow_10_flag = ns_book7['대출건수'] < 10

In [41]:
borrow_10_flag.mean()

0.6423437291033485

In [43]:
ns_book7['대출건수'].quantile(0.65)

10.0

### var() 메서드
> n-1로 나눔<br/>ddof 매개변수를 통해 변경
* 0 : n-1
* 1 : n

In [44]:
ns_book7['대출건수'].var()

370.1106379824544

### std() 메서드

In [45]:
ns_book7['대출건수'].std()

19.23825974412588

### mode() 메서드
최빈값 계산

In [46]:
ns_book7['도서명'].mode()

0    승정원일기
Name: 도서명, dtype: object

### 수치 외 다른 데이터가 포함될 시; numericonly 매개변수

이를 True로 하면 수치 데이터 열에만 적용

In [47]:
ns_book7.mean(numeric_only=True)

번호      203141.980553
도서권수         1.144705
대출건수        11.529442
dtype: float64

In [48]:
ns_book7.to_csv('ns_book7.csv', index=False)

## with numpy

### 평균; mean(), average()

average()함수는 **weights 매개변수**를 통해 가중평균을 계산할 수 있다.

In [49]:
import numpy as np
np.mean(ns_book7['대출건수'])

11.52944215282385

In [53]:
np.average(ns_book7['대출건수'], weights=1/ns_book7['도서권수'])

10.484612341456506

In [55]:
np.mean(ns_book7['대출건수']/ns_book7['도서권수'])

9.8214154196994

In [56]:
ns_book7["대출건수"].sum()/ns_book7['도서권수'].sum()

10.071975588915132

### 중앙값; median()

In [57]:
np.median(ns_book7['대출건수'])

6.0

### 최대/최소;max()/min()

In [58]:
np.max(ns_book7['대출건수'])

1765.0

In [59]:
np.min(ns_book7['대출건수'])

0.0

### 분위수; quantile()
> 보간법도 똑같이 존재

In [61]:
np.quantile(ns_book7['대출건수'], [0.25,0.5,0.75])

array([ 2.,  6., 14.])

### 분산; var()

> 판다스랑 다르게 n으로 나눔<br/>ddof 매개변수를 통해 변경
* 0 : n
* 1 : n-1

In [64]:
np.var(ns_book7['대출건수'])

370.1096674321124

### 표준편차; std()

In [65]:
np.std(ns_book7['대출건수'])

19.238234519625557

### 최빈값; unique()함수와 return_counts 매개변수

In [70]:
values, counts = np.unique(ns_book7['대출건수'], return_counts=True)

In [71]:
max_idx = np.argmax(counts)

In [72]:
values[max_idx]

0.0